{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="../../static/css/index.css">
{% endblock %}

{% block main %}
<div class="container mt-1">

  {% if messages %}
  <div class="alert alert-warning" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  <div class="section_header">
    <div>
      <h4>Demo Drive</h4>
    </div>
    <div>

      <button id="openModalBtn1">Create Folder</button>
      <button id="openModalBtn2">Upload File</button>
    </div>
  </div>

  <div class="folders" style=" display: flex; flex-wrap: wrap;">
    {% for f in folder %}
    <div class="folder_icon px-3">
      <a href="{% url 'add_folder' f.id %}">
        <i class="bi bi-folder-fill folder_style" style="font-size: 50px; color: #F8D775;"></i>
      </a>
      <div class="folder_name">{{f.folder_name}}</div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal" id="myModal1">
  <div class="modal-content">
    <span class="close" onclick="closeModal(1)">&times;</span>
    <h2>Create Folder</h2>
    <form action="{% url 'create_folder' %}" method="post">
      {% csrf_token %}
      <div class="user_field">
        <label for="name">Folder Name</label>
        <input type="text" name="foldername" class="user_input" id="folder_name">
        <span id="username_error"></span>
        <div class="btn">
          <input type="submit" class="submit_btn" value="Create">
        </div>
    </form>
  </div>
</div>

<div class="modal" id="myModal3">
  <div class="modal-content">
    <span class="close" onclick="closeModal(2)">&times;</span>
    <h2>Modal 2 Header</h2>
    <form action="{% url 'upload_file' %}" method="post">
      {% csrf_token %}
      <div class="user_field">
        <label for="name">Folder Name</label>
        <input type="text" name="foldername" class="user_input" id="folder_name">
        <span id="username_error"></span>
        <div class="btn">
          <input type="submit" class="submit_btn" value="Create">
        </div>
    </form>
</div>




<script>
  var modal1 = document.getElementById("myModal1");
  var modal2 = document.getElementById("myModal3");
  var btn1 = document.getElementById("openModalBtn1");
  var btn2 = document.getElementById("openModalBtn2");
  var closeBtn1 = document.querySelector("#myModal1 .close");
  var closeBtn2 = document.querySelector("#myModal3 .close");

  btn1.onclick = function () {
    modal1.style.display = "block";
  }

  btn2.onclick = function () {
    modal2.style.display = "block";
    console.log(btn2);
  }

  closeBtn1.onclick = function () {
    modal1.style.display = "none";
  }

  closeBtn2.onclick = function () {
    modal2.style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == modal1) {
      modal1.style.display = "none";
    }
    if (event.target == modal2) {
      modal2.style.display = "none";
    }
  }

</script>

{% endblock %}